<nav class="navbar navbar-expand-lg navbar-light bg-primary">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a  routerLink="realstate" class="nav-link text-light" ><h6>RealState</h6> <span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
        <a routerLink="invite" class="nav-link text-light" ><h6>Invite</h6> <span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link text-light"   routerLink="invitedperson" ><h6>Invited person</h6> <span class="sr-only"></span></a>
      </li>
    </ul>
   
    <div class="col-2">
      <div class="row" *ngIf="login$ | async as login">
       <div class="row" *ngIf="login.data==null || login.logout ">
         <div class="col-2 offset-4">
             <button style="margin-left: 1300px;"  routerLink="login" class="btn btn-success">Login</button>
         </div>
         <div class="col-3 offset-1">
          <button style="margin-left: 1300px;" routerLink="register" class="btn btn-success">Register</button>
         </div>
       </div>
       <div *ngIf="!login.logout && login.data!=null">
         <div class="col-2 offset-8">
             <button  style="margin-left: 1300px;" class="btn btn-success" (click)="LogoutClick()" >Logout</button>
         </div>
       </div> 
       <div>
       </div>
       </div>
    </div>
  </div>
</nav>

<div>
  <router-outlet> </router-outlet>
</div>
