<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a routerLink="realstate" class="nav-link text-light" ><h6>RealState</h6> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link text-light" ><h6>Invite</h6> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link text-light" ><h6>Invited person</h6> <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
    <div class="offset-9">
      <!-- <button  class="btn btn-success m-2">logout</button> -->
      <a routerLink="register" class="btn btn-success me-3">register</a>
        <button *ngIf="Logout == false && !logoutUser" (click)="logOutClick()" class="btn btn-success m-2">logout</button>
    <a routerLink="login" *ngIf="Logout == true || logoutUser" class="btn btn-success me-3">Login</a>
  
    </div>
  </div>
</nav>

<div>
  <router-outlet> </router-outlet>
</div>
