<div style="position: absolute; top: 12.5px; left: -80px; font-size: 19px;">
  <a style="margin-left: 1780px; color: white;" >{{logginUser.userName}}
 </a>
</div>
<div class="container mt-3">
  <button [routerLink]="['/add']" (click)="save()" class="btn btn-primary" data-bs-toggle="modal"
    data-bs-target="#myModal">
    Add
  </button>
</div>

<table class="table table-bordered table-striped table-active">
  <thead>
    <tr>
      <td>
        <h5>PropertyName</h5>
      </td>
      <td><h5>City</h5></td>
      <td><h5>Area</h5></td>
      <td><h5>Price</h5></td>
      <td><h5>Action</h5></td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let state of state$ | async ">
      <td>{{state.propertyName}}</td>
      <td>{{state.city}}</td>
      <td>{{state.area}}</td>
      <td>{{state.price}}</td>
     
      <td> 
        <button [disabled]="state.isDeleted==true" [routerLink]="['/edit', state.id ]" class="btn btn-primary" data-bs-toggle="modal"
          data-bs-target="#editModal">
          <i class="fa fa-edit"></i>
        </button>
        <button  [disabled]="state.isDeleted==true" (click)="openDeleteModal(state.id)"  class="btn btn-danger p-1 m-1">
          <i class="fa fa-trash"></i>
        </button>
        <button (click)="specificTracking(state.id,state.applicationUserId) " data-bs-target="#trackingModals" data-bs-toggle="modal">ShowTracking</button>
      </td>
  </tbody>

</table>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal"  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm Delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are sure to delete this item?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="delete()">Confirm Delete</button>
      </div>
    </div>
  </div>
</div>

<!-- Tracking Modal -->
<div class="modal" id="trackingModals" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Tracking Detail</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let trackingDetail of trackingUser.trackingDetails">
            <span class="fw-bold">Name:</span> {{ trackingDetail.dataChangeUser.userName }}
            <br>
            <span class="fw-bold">Action Performed:</span> 
            <span *ngIf="trackingDetail.userActions === 1" class="text-success">Add</span>
            <span *ngIf="trackingDetail.userActions === 2" class="text-primary">Update</span>
            <span *ngIf="trackingDetail.userActions === 3" class="text-danger">Delete</span>
            <br>
            <span class="fw-bold">Change Made Date:</span> {{ trackingDetail.trackingDate | date:'MMM d, yyyy - h:mm a'}}
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
