<div>
  <a style="margin-left: 1780px; color: crimson;" >
   {{logginUser.userName}}
  </a>
</div>

<div class="container mt-3">


  <button [routerLink]="['/add']" (click)="save()" class="btn btn-primary" data-bs-toggle="modal"
    data-bs-target="#myModal">
    Add
  </button>
</div>

<table class="table table-bordered table-striped table-active">
  <thead>
    <tr>
      <td>
        <h5>PropertyName</h5>
      </td>
      <td>
        <h5>City</h5>
      </td>
      <td>
        <h5>Area</h5>
      </td>
      <td>
        <h5>Price</h5>
      </td>
      <td>
        <h5>Action</h5>
      </td>
      <td>  <button (click)="toggletablefortracking()" >ShowTracking</button></td>
      <td></td>
   

    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let state of state$ | async ">
      <td>{{state.propertyName}}</td>
      <td>{{state.city}}</td>
      <td>{{state.area}}</td>
      <td>{{state.price}}</td>
     
      <td> 
        <button [disabled]="state.isDeleted==true" [routerLink]="['/edit', state.id ]" class="btn btn-primary" data-bs-toggle="modal"
          data-bs-target="#editModal">
          <i class="fa fa-edit"></i>
        </button>
        <button  [disabled]="state.isDeleted==true" (click)="openDeleteModal(state.id)" class="btn btn-danger p-1 m-1">
          <i class="fa fa-trash"></i>
        </button>
      </td>
      <table *ngIf="showTableTracking" class="table w-100 table-bordered table-stripped table-hover">
        <thead >
          <tr>
            <th>Name</th>
            <th>Action Performed</th>
            <th>Change Made Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let trackingDetail of state.trackingDetails">
            <td class="text-primary" >{{trackingDetail.dataChangeUser.userName}}</td>
            <td *ngIf="trackingDetail.userActions==1" class="text-success " >Add</td>
            <td *ngIf="trackingDetail.userActions==2" class="text-primary">Update</td>
            <td *ngIf="trackingDetail.userActions==3 " class="text-danger">Delete</td>
            <td class="text-info" > {{trackingDetail.trackingDate | date}} at {{trackingDetail.trackingDate | date:'shortTime'}}</td>
          </tr>
        </tbody>
      </table>
    </tr>

  </tbody>

</table>


<!-- <div *ngFor="let abc of datass.user | keyvalue">
  <div *ngIf="abc.key == 'name' || abc.key == 'email'">
    {{ abc.key }}: {{ abc.value }}
  </div>
</div>
 -->


<!-- Save -->
<!-- The Modal -->


<!-- Edit -->
<!-- The Modal -->


<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm Delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are sure to delete this item?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="delete()">Confirm Delete</button>
      </div>
    </div>
  </div>
</div>