<h1 class="max-auto" style="margin-left:750px ;">Welcome</h1>
<div style="margin-left: 650px;">
  <a *ngIf="status ==='1'" class="text-success">
    <h3> YOU CAN MODIFY THIS DATA</h3>
  </a>
  <a *ngIf="status ==='2'" class="text-danger" ;>
    <h1> YOU CAN NOT MODIFY THIS DATA</h1>
  </a>
</div>

<h3>RealState Data</h3>

<button  [disabled]="data.action==2 || data.action ==3" (click)="toggleTable(data.invitationSenderUserId)" *ngFor="let data of invitedPerson"> {{data.invitationSenderName}} </button>

<ng-container *ngIf="showTable">
  <app-realstate [invitaionerPersonId]="specificUser"></app-realstate>
</ng-container>
